
ol{
    list-style: none;
}

p{
    color: blue;
}

li{
    color: red;
}

.missing-item{
 color: green;
}

#product-item{
color: black;
}

.text-description{
    color: red;
    font-family:  Times ;
    font-size: 16px;
    font-weight:200 ;
    font-style: italic;
    text-align:justify;
}

h2{
    text-align:center;
}
